/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Estilos para os links de navegação */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Estilos para os parágrafos destacados */
.destaque {
    font-weight: bold;
    color: blue;
}

/* Estilos para a imagem de fundo */
img {
    width: 50%;
    height: auto;
}

/* Estilos para os links */
a {
    color: red;
    text-decoration: underline;
}

/* Estilos para as listas */
ol,
ul {
    margin-left: 5px;
}

/* Estilos específicos para IDs */
#id1 {
    color: blue;
    font-size: 26px;
}

#id2 {
    color: yellowgreen;
    font-size: 26px;
}