@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Bebas Neue', sans-serif;
}

.container {
  text-align: center;
  margin: auto;
  margin-top: 50px;
  max-width: 780px;
  height: 500px;
  color: white;
  background-color: rgb(194, 194, 194);
}

header {
  height: 100px;
  color: white;
  background-color: dimgrey;
}

header h1 {
  font-weight: 900;
  padding: 10px;
}

.lblOpcoes {
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: baseline;
}

.lblOpcoes ol a {
  border-radius: 5px;
  font-size: 23px;
  font-weight: 300;
  width: 110%;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  color: white;
  background-color: rgb(63, 63, 63);
  text-decoration: none;
}

.lblOpcoes ol a:hover {
  background-color: rgb(141, 141, 141);
  font-weight: bolder;
  cursor: pointer;
}

.meio {
  width: 100%;
  height: auto;
}

.calc {
  background-color: dimgray;
  margin: 50px;
  width: 50%;
  height: 200px;
  border-radius: 5px;
}

h2 {
  display: flex;
  justify-content: center;
  height: auto;
  text-align: center;
  padding-top: 5px;
  font-size: 30px;
  color: white;
}

#val1,
#val2 {
  width: 185px;
  margin-top: 5px;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  font-weight: 300;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
}

.calc .result {
  display: flex;
  justify-content: center;
  margin: 5px 10px auto;
}

.calc .result input {
  align-items: center;
  text-align: center;
  width: 60%;
  height: 30px;
  border-radius: 5px;
  font-weight: 300;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
}

.calc .sinais {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.calc .sinais .botao {
  width: 40px;
  height: 40px;
  font-size: 25px;
  cursor: pointer;
  margin: 3px;
  background-color: rgb(31, 31, 31);
  border: none;
  color: white;
}

.cursos {
  border: 1px solid rebeccapurple;
  margin: 10px 10px;
  display: flex;
  width: 100%;
  height: 100px;
  flex-direction: column;
  align-items: flex-start;
}

.cursos select {
  width: 80px;
  height: 70px;
}

.cursos select option {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  font-weight: 300;
  cursor: pointer;
}

.cursos select option:hover {
  background-color: cornflowerblue;
  font-weight: bolder;
}

.calc .botao:hover {
  font-weight: bolder;
  background-color: rgb(141, 141, 141);
}

/*rodape*/
footer {
  padding: 40px;
  background-color: dimgrey;
}

footer:hover {
  font-weight: bolder;
}